@model InvoiceCreator.Models.MainModels.Service

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Service</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NameOfService" class="control-label"></label>
                <input asp-for="NameOfService" class="form-control" />
                <span asp-validation-for="NameOfService" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionOfService" class="control-label"></label>
                <input asp-for="DescriptionOfService" class="form-control" />
                <span asp-validation-for="DescriptionOfService" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPriceWithoutDPH" class="control-label"></label>
                <input asp-for="UnitPriceWithoutDPH" class="form-control" />
                <span asp-validation-for="UnitPriceWithoutDPH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DPH" class="control-label"></label>
                <input asp-for="DPH" class="form-control" />
                <span asp-validation-for="DPH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPriceWithDPH" class="control-label"></label>
                <input asp-for="UnitPriceWithDPH" class="form-control" />
                <span asp-validation-for="UnitPriceWithDPH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPriceWithDPH" class="control-label"></label>
                <input asp-for="TotalPriceWithDPH" class="form-control" />
                <span asp-validation-for="TotalPriceWithDPH" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
