@model InvoiceCreator.Models.MainModels.Invoice

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Invoice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumberOfInvoice" class="control-label"></label>
                <input asp-for="NumberOfInvoice" class="form-control" value="@ViewBag.NumberOfInvoice" />
                <span asp-validation-for="NumberOfInvoice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="openModalButton" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 1190px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Invoice</h5>
            </div>
            <div class="modal-body" id="modalContent">
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary">Print</a>
                <a class="btn btn-primary" asp-controller="InvoicePattern" asp-action="DownloadPDF">Download</a>
                <a class="btn btn-primary" asp-controller="EmailModels" asp-action="Create">Download and send as email</a>
                <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Close</a>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   <script>
        $(document).ready(function () {
            $('#openModalButton').click(function (e) {
                e.preventDefault();
                var form = $(this).closest('form');
                $.ajax({
                    url: form.attr('action'),
                    type: form.attr('method'),
                    data: form.serialize(),
                    success: function (data) {
                        if (data.success) {
                            $.get('@Url.Action("Index", "InvoicePattern")', function (indexData) {
                                $('#modalContent').html(indexData);
                                $('#exampleModal').modal('show');
                            });
                        }
                    }
                });
            });
        });
    </script>
}
