@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Create new invoice <a href="https://localhost:7248/Suppliers/Create">HERE</a>!</p>
    <p>Browse your invoices <a href="https://localhost:7248/Invoices/Index">HERE</a>!</p>
</div>

